
.main {
  position: relative;
  margin: auto;
  align-content: center;
  text-align: center;
  max-height: 50rem;
  max-width: 180rem;

}

.center {
  margin: 0 auto;
  max-height: 41.5rem;
  max-width: 120rem;
width: 95vw;
}
.second{
    margin: 0 auto;
  max-height: 41.5rem;
width: 70vw;

}
.buttonStyle {
      text-align: center;
      vertical-align: middle;
      margin: 2rem auto;
      display: flex;

    }

@media screen and (max-width: 1200) {
    .main{
  margin: 10rem auto;
  }
  .center{
    width:100vw;
    opacity: 100%;
  }  
  .second{
        width:100vw;
    opacity: 100%;
  }
  
}

@media screen and (max-width : 768px){
  .main{
  margin: 20vh auto;
  }
  .center{
    width:100vw;
    opacity: 80%;
  }  
  .second{
        width:100vw;
    opacity: 80%;
  }
  
}
@media screen and (max-width: 480px){
  .main{
    margin: 15vh auto;
  }
  .center{
    width: 100vw;
    
  }
    .second{
        width:100vw;
    opacity: 80%;
  }
  
}